<h1><%= @blogger.name%></h1>


<h2><%= @blogger.age%></h2><br>
<h3><%= @blogger.bio%></h2>


<p><%=@blogger.name%> has: <%= @blogger.total_likes%> likes</p>
<p>most liked post: <%=@blogger.featured_post %></p>
