<h1><%= @post.title%></h1>

<h2>Author: <%=link_to @post.blogger.name, blogger_path(@post.blogger.id) %></h2>

<h3>Destination: <%= link_to @post.destination.name, destination_path(@post.destination.id) %></h3>

<h4>Likes: <%= @post.likes%></h3>


<%= button_to 'Like', like_post_path  %>
