<h1><%=@post.title%></h1>

<h3>Blogger: <%=link_to @post.blogger.name, blogger_path(@post.blogger.id)%></h3>
<h3>Destination: <%=link_to @post.destination.name, destination_path(@post.destination.id)%></h3>
<h3>Likes: <%=@post.likes%></h3>
<%=form_tag post_path(@post), method: 'get' do%>
<%=hidden_field_tag :id, "#{@post.id}" %>
<%=hidden_field_tag :likes, "1" %>
<%=submit_tag 'Like'%>
<%end%>

<h3><%=@post.content%></h3>
